@charset "UTF-8";

#feed {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 280px;
    justify-content: center;
}

.post > img {
    width: 20px;
    height: 20px;
    padding: 30px;
    object-fit: contain;
}

.post{
    cursor:pointer;
}

.post:hover {
    transform: scale(1.07);
    transition: transform 0.4s ease-in-out;
}
