<?xml version="1.0" encoding="UTF-8" ?>

<!-- xml 파일이란
	: 서로다른 주제에게 데이터를 전달하기 위해 데이터의 구2졸르 기술하는 언어
		Extensible markup language
-->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- DB연결을 위한 설정파일을 태그로 지정 -->
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@project-db-cgi.smhrd.com:1524:xe"/>
        <property name="username" value="cgi_24K_bigdata27_p2_2"/>
        <property name="password" value="smhrd2"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- sql문장이 정리된 xml 파일을 연결하는 태그! -->
  <mappers>
    <mapper resource="com/project/db/UserMapper.xml"/>
    <mapper resource="com/project/db/ProductMapper.xml"/>
  </mappers>
</configuration>