<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.db.UserMapper">

	<!-- 회원 가입을 위한 sql문장 작성 -->
	<insert id="join" parameterType="com.project.model.userDTO">
		insert into USER_INFO values(#{ID}, #{PW}, #{NAME}, #{ADDRESS},
		 #{DETAILED_ADDRESS}, #{PHONE}, #{EMAIL}, sysdate)
	</insert>
	
	<select id="login" parameterType="com.project.model.userDTO" resultType="com.project.model.userDTO">
		select * from USER_INFO where ID=#{ID} and PW=#{PW}
	</select>
	
	<insert id="child-join" parameterType="com.project.model.childDTO">
		insert into CHILDREN_INFO values(CHILD_SEQ.NEXTVAL, #{GENDER}, #{CHILD_BIRTHDATE}, #{PARENT_ID}, sysdate)
	</insert>
	
	<select id="find-name" parameterType="String" resultType="String">
		select ID from USER_INFO where ID=#{id}
	</select>
</mapper>