/* styles.css */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'GoyangIlsan';
	padding-bottom : 400px; 
}

header , button,
.banner-text {

  font-family:  GowunDodum-Regular;
  
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe3e3;
  height : 200px;
}

.logo {
  margin-left: 180px;
  font-size: 60px;
  color: #ff6384;
}

.search {
    background-color: #fbe3e3;
    border : none;
    cursor: pointer;
}

.search-bar {
  width: 500px;
  padding: 5px;
  border-radius: 3px;
  border : none;
}

.logout-button {
  margin-left: -25px;
  background-color: #f7cbcb;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
}

.login-button {
  background-color: #f7cbcb;
  border: none;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}


.menu {
    width: 70vw;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
    
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.user-options {
  margin-right: 200px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  top: 30px;
  left:-40px;
  width: 110px;
  padding: 10px;
  line-height: 1.5;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 더 깊은 그림자 */
}

/* 모달 내용 */
.modal-content {
  background-color: #ffffffe3;
  margin: 10% auto; /* 화면 중앙에 위치 */
  padding: 40px 18px;
  border-radius: 5px;
  width: 23%; /* 너비 조정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* 닫기 버튼 */
.close {
  margin-top:-35px;
  color: #838383;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

#login-submit {
  display:flex;
  text-align: center;
  align-items:center;
  justify-content:center;
  margin: 0 auto;
  margin-top: 10px;
  width:210px;
  height:30px;
  border: none;
  color: rgb(252, 252, 252);
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* 회원가입 링크 */
.register-link {
  display:flex;
  text-align: center;
  align-items:center;
  justify-content:center;
  margin: 0 auto;
  margin-top: 10px;
  width:170px;
  height:10px;
  border: none;
  color: rgb(26, 25, 25);
  background-color: #b9b9b9;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-link:hover {
  text-decoration: underline;
}

.login-input{
  border-radius: 5px;
  height: 20px;
  width:200px;
  margin-bottom: 25px;
}

.login-label{
  text-align: left;
  margin-bottom: -20px;
  margin-left: 115px;
  display: block;
}

.login-header{
  margin-top: -10px;
}