@charset "UTF-8";

/* 팝업 창 배경 (어두운 투명 레이어) */
  .clean-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 팝업 창 본체 */
  .clean-popup-content {
  background-color: #ffffff;
  width: 80%;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.clean-popup-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.clean-popup-body {
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

.clean-popup-footer {
  display: flex;
  justify-content: center;
}

.buy-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right:10px;
}

.clean-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}  


#feed {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 280px;
    justify-content: center;
}

.post > img {
    width: 20px;
    height: 20px;
    padding: 30px;
    object-fit: contain;
}

.post{
    cursor:pointer;
}

.post:hover {
    transform: scale(1.07);
    transition: transform 0.4s ease-in-out;
}

/* 팝업창 ======================================*/
.popup-overlay {
  display : flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 팝업 창 본체 */
.popup-content {
  background-color: #ffffff;
  width: 300px;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-body {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.popup-footer {
  display: flex;
  justify-content: center;
}

.close-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.close-btn:hover {
  background-color: #c9302c;
}

