@charset "UTF-8";

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 상품 테이블 */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-image-cell {
    width: 300px;
    text-align: center;
    vertical-align: top;
    padding: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info-cell {
    vertical-align: top;
    padding: 20px;
}

.product-info-table {
    width: 100%;
    font-size: 19px;
    font-weight: bold;
}

.product-info-table td {
    padding: 10px 0;
}

.product-info-table input {
    height: 35px;
    width: 300px;
    background-color: rgb(255 255 255);
    padding: 0 10px;
    border-width: 0 0 1px;
}


.product-info-table input:focus {
    outline: 2px solid #e60023;
}

/* #title {
    height: 60px;
} */

.product-notes {
    color: darkgray;
    font-size: 16px;
    margin: 5px 0;
}

/* 공통 스타일 */
.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    color: #e60023;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-button button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #e60023;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.product-button button:hover {
    background: #c7001a;
}


/* 상세 입력 섹션 */
.details {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

.details label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.details input, 
.details select {
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#review {
	height : 150px;
}

.btn1 {
    background-color: #e60023;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom : 30px;
}

.btn1:hover {
    background-color: #c0001c;
}

.total{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.age{
	display: inline-block;
}

#age{
	width: 200px;
}