<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MessageMapper">
	<insert id="MessageInsert" parameterType="com.smhrd.model.MessageDTO">
		insert into WEB_MESSAGE values(mnum.nextVal, #{name}, #{email}, #{content}, sysdate)
	</insert>
	
	<select id="MessageSelectAll" parameterType="String" resultType="com.smhrd.model.MessageDTO">
		select * from WEB_MESSAGE where email = #{email}  
	</select>
	
	<delete id="MessageDeleteAll" parameterType="String">
		delete from WEB_MESSAGE where email =#{email}
	</delete>
	
	<delete id="MessageDelete" parameterType="int">
		delete from WEB_MESSAGE where mnum = #{mnum} 
	</delete>
</mapper>